extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Sign in
  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        a.btn.btn-block.btn-foursquare.btn-social(href='/auth/foursquare')
          i.fab.fa-foursquare-f.fa-sm
          | Sign in with FourSquare
