.navbar.navbar-light.fixed-top.navbar-expand-md
  .container
    a.navbar-brand(href='/')
      i.fas.fa-cube
      | RiteSpace
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active.nav-item(class=(title === 'Home') ? 'active' : undefined)
          a.nav-link(href='/') Home
        if user
          li.nav-item(class=(title === 'Add Space') ? 'active': undefined)
            a.nav-link(href='/add-space') Add Space
      ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Login With FourSquare') ? 'active' : undefined)
            a.nav-link(href='/login') Login With FourSquare
        else
          li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              //- if user.photoUrl
              //-   img(src=user.photoUrl)
              //- else
              //-   img(src=user.gravatar(60))
              span= user.firstName + " " + user.lastName
              i.caret
            ul.dropdown-menu
              li.dropdown-item
                a(href='/account') My Account
              li.divider.dropdown-item
              li.dropdown-item
                a(href='/logout') Logout
