extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Space Form

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='venues') FourSquare Venues
      .col-md-8
        select(name='vid', id='venues')
            each venue in userManagedVenues
                option(value=venue.id) venue.name

    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='area') Area(m^2)
      .col-md-8
        input.form-control(type='text', name='area', id='area')
    
    .form-group.row
      label(class='col-md-2 col-form-label font-weight-bold', for='price') Rent(THB)
      .col-md-8
        input.form-control(type='text', name='price', id='price')

    .form-group
      .offset-md-2.col-md-8.p-1
        button.btn.btn-primary(type='submit')
          i.far.fa-location-arrow.fa-sm
          | Submit
