extends layout

block content
    h1=space.name
        .pb-2.mt-2.mb-4.border-bottom

    h4 Price/Month: #{space.rentCost}

    h4 Area: #{space.area} m^2

    h4 Last Updated: #{space.updatedAt}


    br

    h2 Visitors' Info

    h5 #{space.totalCheckIns} total checkins

    each genderObj in space.genderDistribution
        h5 #{genderObj.checkins} #{genderObj.gender} checkins

    br


    h4 Age Stats
    each obj in space.ageDistribution
        h5 Age=#{obj.age} - #{obj.checkins} checkins

    br

    h4 Active Hours
    each obj in space.hourDistribution
        h5 Hour=#{obj.hour} - #{obj.checkins} checkins
    #hourGraph


//- script.
//-     width = 500
//-     height = 500
//-     radius = Math.min(width, height) / 2,
//-     g = svg.append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

//-     var color = d3.scaleOrdinal(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

//-     var pie = d3.pie()
//-         .sort(null)
//-         .value(function(d) { return d.population; });

//-     var path = d3.arc()
//-         .outerRadius(radius - 10)
//-         .innerRadius(0);

//-     var label = d3.arc()
//-         .outerRadius(radius - 40)
//-         .innerRadius(radius - 40);

//-     d3.csv("data.csv", function(d) {
//-     d.population = +d.population;
//-     return d;
//-     }, function(error, data) {
//-     if (error) throw error;

//-     var arc = g.selectAll(".arc")
//-         .data(pie(data))
//-         .enter().append("g")
//-         .attr("class", "arc");

//-     arc.append("path")
//-         .attr("d", path)
//-         .attr("fill", function(d) { return color(d.data.age); });

//-     arc.append("text")
//-         .attr("transform", function(d) { return "translate(" + label.centroid(d) + ")"; })
//-         .attr("dy", "0.35em")
//-         .text(function(d) { return d.data.age; });
//-     });